@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
}
body{
    height: 100vh;
    height: 100vw;
    font-family: 'Avenir',Helvetica 'Neue',Helvetica,sans-serif;
}
.app {
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-template-rows:80px 1fr 1fr 88px;
  grid-template-areas: 
"nav nav"
"aside section"
"aside section"
"footer footer";
height: 100vh;
    height: 100vw;
}
nav {
  position: fixed;
  grid-area: nav;
  background-color: #fff;
  border-bottom: 1px solid #f1f3f5;
  width: 100%;
  height: 79px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 20;
}

nav ul{
  display: flex;
  position: relative;
  right: 50px;
}
nav li{
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color .15s ease;
}
nav input[type="search"] {
  margin-right: 33px;
}
nav a{
 padding-right: 29px;
}
nav #logo{
  background-image: url(https://forestry.io/img/forestry-pos-full.svg?va47ea7433112d2bca6a25cc52cda6fdb);
  background-repeat: no-repeat;
  height: 24px;
  width: 120px;
  margin-left: 35px;
}
nav .search input {
  padding-left: 2rem;
}
nav .search {
  margin-right: 2rem;
  position: relative;
}
input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 1px solid #dedede;
  border-radius: 1rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #343a40;
  font-size: 12.8px;
  font-size: 12.8px;
  font-size: .8rem;
  height: 16px;
  height: 16px;
  height: 1rem;
  line-height: 16px;
  line-height: 16px;
  line-height: 1rem;
  outline: none;
  padding: 16px;
  padding: 1rem;
  width: 240px;
}

aside {
  color: #343a40;
  grid-area: aside;
  position: relative;
  overflow: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: .86rem;
  height: 100%;
  left: 0;
  padding: 2rem -1rem 2rem 4rem;
  width: 100%;
  z-index: 10;
}
aside a{
  transition: opacity .15s ease;
}
section {
  grid-area: section;
    font-size: 16px;
    line-height: 1.6;
    margin: 0 auto;
    max-width: 700px;
    min-height: 100vh;
    padding: unset;
    padding-top: 112px;
    position: relative;
    width: 100%;
    word-spacing: 0.05em;

}
footer {
  grid-area: footer;

  z-index: 10;
}
footer :nth-child(2) {
  display: flex;
  justify-content: space-around;
}

footer ul{
    flex-direction: column;
 
}
.footer-list li{

  flex-direction: column;
  justify-content: flex-start;
}
footer .lol {
  border-top: 1px solid #f1f3f5;

  display: flex;
  justify-content: space-between;
  padding: 52px ;
  
}
footer p{
  font-size: 12.8px;
  color: #6e7882;
}
footer .slack-logo {
  margin-top: 16px;
  margin-top: 1rem;
}

.footer-sid-right-logo-slack{
  display: flex;
  justify-content: flex-start;
}
.footer-sid-right-logo-slack :nth-child(2){
  display: flex;
  justify-content: flex-start;


}

.lol ul{
    display: flex;
    flex-direction: row;
    padding: 0 107.92px;
 
 
}




li{   
    padding: 4px;
}
a{
    text-decoration: none;
    color: #3f464d;
    font-weight: 400;
}
a:before{
    color: #f0941b;;
}

li a.active {
  color: #20c997;
  font-weight: 600;
}
li a {
  color: #3f464d;
  font-weight: 400;
  font-size: 13.76px;
  transition: opacity .15s ease;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h3{
  display: block;
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.table-of-contents{
  border-left: 2px solid #f1f3f5;
  margin-bottom: 1rem;
  margin-left: 0;
  padding-left: 1rem;
}

.column{
  padding: 4vw;
}

.intercom-lightweight-app-launcher-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  top: 100;
  left: 100;
  width: 60px;
  height: 60px;
  z-index: 25;
}


.shortcode-tip{
    background: #f1f3f5;
    margin: 1rem 0;
    padding: 1rem 1rem 1rem 2rem;
    position: relative;
    width: 634px;
}
.md-content p{
  color: #3f464d;

  margin: 1rem 0;
}